/* Copyright 2014 The Chromium Authors. All rights reserved.
   Use of this source code is governed by a BSD-style license that can be
   found in the LICENSE file. */

/* Adjusted/Scoped for Portfolio Integration */

.dino-game-wrapper {
    font-family: 'Press Start 2P', monospace;
    /* Ensuring font consistency */
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f7f7f7;
    /* Default light mode bg */
}

.offline .interstitial-wrapper {
    color: #2b2b2b;
    font-size: 1em;
    line-height: 1.55;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    position: relative;
}

.runner-container {
    height: 150px;
    max-width: 600px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2;
}

.runner-canvas {
    height: 150px;
    max-width: 600px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
}

.controller {
    background: rgba(247, 247, 247, 0.1);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#offline-resources {
    display: none;
}