@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-press: 'Press Start 2P', system-ui;
  --font-vt323: 'VT323', monospace;

  --color-primary: #535353;
  --color-background: #f7f7f7;
}

:root {
  font-family: var(--font-vt323);
  background-color: var(--color-background);
  color: var(--color-primary);
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: none;
}

html {
  scroll-behavior: smooth;
  /* Crucial for pixel art crispness */
}

/* Custom Scrollbar for Chrome */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border: 2px solid var(--color-background);
}

/* Custom Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes flicker {

  0%,
  100% {
    opacity: 0.01;
  }

  50% {
    opacity: 0.02;
  }
}

/* Terminal Animations */
@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

@keyframes scanline {
  0% {
    top: -5%;
  }

  100% {
    top: 105%;
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  51% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

@keyframes v-blink {

  0%,
  50% {
    opacity: 0.6;
  }

  51%,
  100% {
    opacity: 0;
  }
}